/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.admin-bar { 
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: black;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-container .modify-container {
	margin: 0;
	font-size: 1.14rem;
}
.admin-container img {
	filter: invert(100%);
	width: 18px;
	height: 18px;
}
.publish {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	color:  black;
	background-color: white;
	border: 2px solid white;
	margin: 0 0 0 2em;
	padding: 0 20px;
	height: 38px;
	text-align: center;
	border-radius: 60px ;
	transition: color .3s, background-color .3s;
}
.publish:hover {	
	color:  white;
	background-color:black;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li.active {
	font-weight: bold
}

li:hover {
	color: #B1663C;
}

a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#portfolio .modify-container {
	position: relative;
	left: 690px;
	top: 20px;
	height: 0px;
}
.modify-container {
	margin-bottom: 1em;
}
#introduction .modify-container img {
	width: unset;
	margin: 0;
	display: inline-block;
}
figure .modify-container {
	margin-left: 4em;
	margin-top: 1em
}
.filters-container {
	display: flex;
	justify-content: center;
	margin: 3em 0;
}
.filter-button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.14em;
	color:  #1D6154;
	background-color: white;
	border: 2px solid #1D6154;
	margin: 0 0.5em;
	padding: 0 20px;
	height: 50px;
	text-align: center;
	border-radius: 60px ;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	transition: color .3s, background-color .3s;
}
.filter-button.active {
	color: white;
	background-color: #1D6154;
}
.filter-button:hover{
	color: white;
	background-color: #1D6154;

}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
#contact, #login {
	width: 50%;
	margin: auto;
}
#contact > *, #login > *, #add-picture > *, #thumbnail-gallery > * {
	text-align: center;

}
#contact h2, #login h2, #add-picture h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, 
#add-picture input, #add-picture select, 
#thumbnail-gallery input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, 
#login label {
	margin: 2em 0 1em 0;
}
#add-picture label {
	margin: 1em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}
.modal-wrapper {
	/*display: flex;
	justify-content: space-between;*/
	background-color: white;
	max-width: 630px;
	border: 1px solid grey;
	margin: 0 auto;
	border-radius: 10px;
	width: 100%
}
.button-container {
	display:flex;
	justify-content: flex-end;
	height: 24px;
	width: 100%;
	margin: 32px auto 10px auto;
	padding: 0 30px;
}
.button-container a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	
}

#thumbnail-gallery {
	max-width: 630px;
	margin: auto;
	padding: 0 105px
}

#modal3-2 .button-container {
	justify-content: space-between;
}

#add-picture {
	max-width: 630px;
	margin: auto;
	padding-top: 50px
}
#add-picture form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	max-width: 630px;
	padding: 0 105px;
	width: 100%
}
#add-picture #image-input {
	box-shadow: none
	
}
#add-picture select {
	background-color: white;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 170px;
	background-color: #E8F1F7;
}
.preview {
	height: 170px;
}
.thumbnail-gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#thumbnail-gallery h2 {
	margin-bottom: 46px;
}
.thumbnail-gallery-container figure {
	position: relative;
	margin-bottom: 10px;
	text-align: left;
	font-size: 0.85rem;
	
}
.thumbnail-gallery-container img {
	width: 78px;
	height: 104px;
	object-fit: cover;
}
.trashbin, .enlarge {
	position: absolute;
	top: 6px;
	right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	cursor: pointer;
}
.enlarge {
	right: 27px;
	display: none;
	cursor: pointer;
}
.trashbin img {
	width: 9px;
	height: 9px;
}
.enlarge img {
	width: 11px;
	height: 11px;
}
.thumbnail-gallery-container figure img:hover + .enlarge {
	display: flex;
	cursor: pointer;
}
#thumbnail-gallery input[type="submit"] {
	margin: 38px auto 23px auto;
}
.delete {
	display: flex;
	justify-content: center;
	color: red;
	display: block;
	margin-bottom: 48px;
}
.upload-label {
	display: inline-block;
	text-align: center;
	font-size: 1rem;
  	background-color: #CBD6DC;
  	color: #306685;
  	padding: 10px 33px;
  	border-radius: 50px;
  	cursor: pointer;
	margin: 21px 0 7px 0;
}
.separator { /* fonctionne pas */
	display: block;
	margin: 47px 0 0 0;
	width: 100%;
	height: 1px;
	background-color:#B3B3B3;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(250, 96, 96, 0.9);
	background-color:rgba(253, 173, 173, 0.429);
	width: 100%;
	height: 35px;
	border-radius: 15px;
	color: rgb(254, 32, 32)
}

@media screen and (max-width: 460px) {
	#add-picture form {
		padding: 0 50px;
	}
}